<!doctype html>
<html lang="en">
<head>
    
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/public/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/public/assets/img/logo.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Digital Friendly House</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->


    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/public/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/public/assets/css/paper-dashboard.css" rel="stylesheet"/>
<<<<<<< HEAD
    <link href="/public/assets/css/costum.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/public/assets/pretty-checkbox/dist/pretty-checkbox.min.css"/>

z
    <!--  Fonts and icons     -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/public/assets/css/themify-icons.css" rel="stylesheet">
<<<<<<< HEAD

=======
    <script src="/public/assets/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/public/assets/dist/sweetalert2.min.css">
>>>>>>> c14f1e8659291cd8ce50ea948eb35a93ac93f354
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="warning">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    MENU
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/home">
                        <i class="ti-info-alt"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a href="/profile">
                        <i class="ti-user"></i>
                        <p>Utilizadores</p>
                    </a>
                </li>
                <li>
                        <a href="/room">
                            <i class="ti-eye"></i>
                            <p>Divisões</p>
                        </a>
                    </li>
                
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4>casa 1</h4>
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-home"></i>
                               
									<p>Casas</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Casa 1</a></li>
                                <li><a href="#">casa 2</a></li>
                              
                              </ul>
                        </li>
						
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-power-off"></i>
								<p>Logout</p>
                            </a>
                        </li>
                        
                    </ul>

                </div>
            </div>
        </nav>
