<% include partials/header %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="card card">
                        <div class="header">
                            <h4 class="title">Add a card</h4>
                        </div>
                        <div class="content">
                            <form role="form" action="/admin/registo" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Card</label>
                                            <input type="text" class="form-control border-input" name="id_card" placeholder="Card ID">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Sensor</label>
                                            <input type="text" class="form-control border-input" name="id_sensor" placeholder="Sensor ID">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Add a card</button>
                                <br>
                            </form>
                        </div>
                    </div>
                    <!--- Outra div -->
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="content">
                        <div class="card" style="overflow:scroll; overflow-x: hidden;">
                            <div class="header">
                                <h4 class="title">Cards in this house</h4>
                            </div>
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table" id="Table">
                                        <thead>

                                            <tr>
                                                <th>Card ID</th>
                                                <th>User</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                </script>
            </div>
        </div>
    </div>

    <% include partials/footer %>