<% include partials/header %>

<div class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-2 col-md-5"></div>
                <div class="col-lg-8 col-md-5">
                    <div class="card card">
                            <div class="header">
                                    <h4 class="title">Adicione uma divis達o com um sensor a sua casa</h4>
                                </div>
                                <div class="content">
                                        <form role= "form" action="/admin/registo"  method="post">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label>Sensor</label>
                                                            <input type="text" class="form-control border-input" name="id_sensor"  placeholder="ID Sensor" >
                                                        </div>
                                                    </div>     <div class="col-md-1"></div>
                                                    <div class="col-md-6">
                                                        <div class="form-check">
                                                            <label class="text-center">Divis達o</label>
                                                            <input type="text" class="form-control border-input" name="id_sensor"  placeholder="Nome da Divis達o" >
                                                            <br>
                                                           
                                                            
                                                        </div>
                                                    </div> 
                                                </div>
                                                
                                                    <br>
                                                
                                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Adicionar Divis達o</button>
                                                    <br>
                                                    </form>
                                    </div>
                       
                       
                        
                    </div>
                    <!--- Outra div -->
               
                    
                </div>
        
                <div class="col-lg-2 col-md-5"></div>

            </div>
        </div>
    </div>

<% include partials/footer %>