<%  include partials/header %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-5">
                </div>
                <div class="col-lg-12 col-md-5">
                    <div class="card card-user">
                        <div class="image">
                            <img src="/public/assets/img/background1.jpeg" alt="..." />
                        </div>

                        <div class="content">
                            <script>
                                function alert(mes)
                                {
                                    window.alert(mes);


                                }
                            </script>
                            <form role="form" action="/room/<%= casa1 %>/regi" method="post" encType="multipart/form-data"
                                <% for (var i=0 ; i <= array.lenght ; i++) { %>

                                <script>
                                   alert("<%= array[i].division %>")
                                </script>
                                <div class="pretty p-default p-curve p-fill">

                                    <input type="radio" name="speaker" value="<%= array[i].division %>" />
                                    <div class="state">

                                        <label>
						<%= array[i].division %>
                                        </label>
                                    </div>
                                </div>



                                <% } %>

                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <div class="form-check">
                                            <label class="text-center">Divisão</label>
                                            <input type="text" class="form-control border-input" name="name" placeholder="Nome da Divisão">
                                            <br>


                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill btn-wd" value='Upload!' style="margin: 5px; float: right; margin-right: 10px;"
                                        value='Upload!'>Adicionar Divisão</button>
                                    <button type="submit" class="btn btn-info btn btn" style=" margin: 5px; float: right;">Cancel</button>
                        </div>








                        </form>

                    </div>


                </div>
            </div>

            <!--- Outra div -->


        </div>

        <div class="col-lg-1 col-md-5"></div>

    </div>
    </div>
    </div>

    <% include partials/footer %>
