<% include partials/header %>
<script>
        var totalUtilizadores = 0;
        var totalUserN = 0;
       var totalAdmin = 0;
                                  
                              function totalUti(){
                                totalUtilizadores = 0;
                                <% for (var u of jsonData) { %>
                                  
                                    
                                      
      
                                      totalUtilizadores = totalUtilizadores + 1;
      
                                      <% } %>                            
                                      return totalUtilizadores;
                       
      
                              }
                           
        function totalUtilizadoresAdmin(){  
          totalAdmin = 0;
      
                                  <% for (var u of jsonData) { %>
                                  <% if (u.type === 'admin') { %>
                                    
                                      
      
                                      totalAdmin = totalAdmin + 1;
      
                                      <% } %> 
                                      <% } %> 
      
                                      return totalAdmin;
      
                              }
                              function totalUser(){
                                totalUserN= totalUtilizadores - totalAdmin;
                                      return totalUserN;
                       
      
                              }
      
      
      function start(){
      
      totalUti();
      totalUtilizadoresAdmin();
      totalUser();
          chartContainer();
      
      }
      window.onload = start;
      </script>
      
<div class="content">
    <div class="container-fluid">
<div class="row">
<button class="btn btn-info btn-fill btn-wd" href="/admin/sensor">Adicionar sensor</button>

<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>

</div>
</div>
</div>

<% include partials/footer %>