<% include partials/header %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="card card-user">
                        <div class="image">
                            <img src="/public/assets/img/background1.jpeg" alt="..."/>
                        </div>
                        <div class="content">
                            <div class="author">
                              <button class="avatar border-white" src="/public/assets/img/faces/face-2.jpg" alt="..."/>Adicionar Foto</button>
                              <h4 class="title"><br />
                                 <a ><small></small></a>
                              </h4>
                            </div>
                            
                            
                        </div>
                        <hr>
                        
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Editar/Adicionar Usuario</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control border-input" placeholder="Email" >
                                        </div>
                                    </div>
                                    
                                   
                                </div>
<!--
                                <div class="row">
                                    
                               
                                <div class="col-md-8">
                                        <div class="form-group">
                                                <label>Tipo predefenidos</label>
                                                <div class="dropdown text-center">
                                                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown" style="width:70%">
                                                            Tipo
                                                            <b class="caret"></b>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">Deafult</a></li>
                                                            <li><a href="#">Criança</a></li>
                                                            <li><a href="#">Adulto</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Hospede</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Visita</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Novo tipo</a></li>
                                                        </ul>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                            -->
                                <div class="row">
                                    <div class="col-md-12">
                                            <div class="form-group">
                                                    <label class="text-center">Permissões</label>
                                                    <br>
                                                    <div class="col-md-4">
                                                        <p>Sala</p>
				<div class="form-check">
					<label>
						<input type="checkbox" name="check" checked> <span class="label-text">Temperatura</span>
					</label>
				</div>
				<div class="form-check">
					<label>
						<input type="checkbox" name="check"> <span class="label-text">Luz</span>
					</label>
				</div>
				
                                                 </div>
                                                 <div class="col-md-4">
                                                     <p>Quarto</p>
                                                     <div class="pretty p-default">
                                                            <input type="checkbox" />
                                                            <div class="state">
                                                                <label>Check</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check">
                                                            <label>
                                                                <input type="checkbox" name="check" checked> <span class="label-text">Temperatura</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label>
                                                                <input type="checkbox" name="check"> <span class="label-text">Luz</span>
                                                            </label>
                                                        </div>
                                                      
                                                                                         </div>
                                                </div>
                                    </div>
                                </div>

                               
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Adicionar Perfil</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill btn-wd" style=" margin: 5px; float: right;">Voltar sem guardar</button>
                </div>
                


            </div>
        </div>
    </div>



<% include partials/footer %>
