<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/public/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/assets/img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Digital Friendly House</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->


    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/public/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="/public/assets/css/paper-dashboard.css" rel="stylesheet" />

    <link href="/public/assets/css/costum.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/assets/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="/public/assets/dist/pretty-checkbox.css" />

    <!-- Google Floating Button css -->
    <link href="/public/assets/css/button.css" rel="stylesheet">


    <!--  Fonts and icons     -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/public/assets/css/themify-icons.css" rel="stylesheet">
    <link href="/public/assets/css/style_radio.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/public/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/component.css" />

</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-background-color="black" data-active-color="warning">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        MENU
                    </a>
                </div> 
                <ul class="nav">
                   
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h4></h4>
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/logout">
                                    <i class="ti-power-off"></i>
                                    <p>Logout</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <% if (isNew){ %>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-5"></div>
                        <div class="col-lg-8 col-md-5">
                            <div class="card card-user">
                                
                                <div class="header">
                                    <h4 class="title">Adicionar uma casa à sua conta</h4>
                                </div>
                                <div class="content">
                                    <form role="form" action="/house/create" method="post"  encType="multipart/form-data">
                                        <div class="row"> 
                                                <div class="col-md-1">
                                                    </div>
                                                        
                                            <div class="col-md-3">
                                    
                                            <div class="box text-center">
                                                  
                                                    <input type="file" name="sampleFile" id="file-5" style="display: none" class="inputfile inputfile-4"  />
                                                    <label for="file-5"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span></span></label>
                                           
                                          
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                                
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <label class="text-center">Nome da casa:</label>
                                                    <input type="text" class="form-control border-input" name="name" placeholder="Nome da casa">
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill btn-wd" style=" margin: 5px; float: right;">Adicionar Perfil</button>
                                        <a class="btn btn-info btn btn" style=" margin: 5px; float: right;" onclick="location.href='/house';">Cancel</a>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-5"></div>
                    </div>
                </div>
            </div>
            <% }else{ %>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-5"></div>
                            <div class="col-lg-6 col-md-5">
                                <div class="card card-user">
                                    
                                    <div class="header">
                                        <h4 class="title">Edite a sua casa</h4>
                                    </div>
                                    <div class="content">
                                        <form role="form" action="/house/edit/<%= editavel[0].id_house %>" method="post"  encType="multipart/form-data">
                                            <div class="row"> 
                                                   
                                                            
                                            
                                                
                                                    
                                                <div class="col-md-12">
                                                    <div class="form-check">
                                                        <label class="text-center">Nome da casa:</label>
                                                        <input type="text" class="form-control border-input" name="name" placeholder="Nome da casa" value="<%= editavel[0].name%>">
                                                        <br>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                            <button type="submit" class="btn btn-info btn-fill btn-wd" style=" margin: 5px; float: right;">Editar Perfil</button>
                                            <a class="btn btn-info btn btn" style=" margin: 5px; float: right;" onclick="location.href='/house';">Cancel</a>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-5"></div>
                        </div>
                    </div>
                </div>
                <% } %>

            <% include partials/footer %>