<!DOCTYPE html>

<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Digital Friendly House</title>
    <meta name="description" content="">
    <meta name="author" content="Team DAI">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/public/assets/frontpage/css/base.css">
    <link rel="stylesheet" href="/public/assets/frontpage/css/vendor.css">
    <link rel="stylesheet" href="/public/assets/frontpage/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/public/assets/frontpage/js/modernizr.js"></script>
    <script src="/public/assets/frontpage/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/public/assets/frontpage/images/favicon.png" >
    <link rel="icon" href="/public/assets/frontpage/images/favicon.png"><link rel="shortcut icon" href="/public/assets/frontpage/images/favicon.png" >
    <link rel="icon" href="/public/assets/frontpage/images/favicon.png">

    


</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo">
                <img src="/public/assets/frontpage/images/logo.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Menu</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#problem" title="about">Problem</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
                    <li><a class="smoothscroll"  href="#pack" title="pack">Packeges</a></li>
                    <li><a class="smoothscroll"  href="#clients" title="clients">Our team</a></li>
                
                    <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
                
            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/public/assets/frontpage/images/homewallpaper.png" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Welcome to Digital Friendly House</h3>

                <h1>
                    The first step to be <br>
                    connected with your house 
                </h1>

                <div class="home-content__buttons">
                    <a href="#contact" class="smoothscroll btn btn--stroke">
                        Start a Project
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Us
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <br><br>
    <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h5 class="display-2 display-2--light">We Are Digital Friendly House</h5>
                <h3 class="subhead subhead--light">WE are here to help</h3>
            </div>
        </div> 
        
    <section id='problem' style="height:100%; ">

            <style>
                  
                    /* Slideshow container */
                    .slideshow-container {
                     
                      position: relative;
                      margin: auto;
                      height: 100%;
                    
                    }
                    
                    /* Next & previous buttons */
                    .prev, .next {
                      cursor: pointer;
                      position: absolute;
                      top: 50%;
                      width: auto;
                      padding: 16px;
                      margin-top: -22px;
                      color: white;
                      font-weight: bold;
                      font-size: 18px;
                      transition: 0.6s ease;
                      border-radius: 0 3px 3px 0;
                    }
                    
                    /* Position the "next button" to the right */
                    .next {
                      right: 0;
                      border-radius: 3px 0 0 3px;
                    }
                    .prev{
                        left: 0;
                    }
                    
                    /* On hover, add a black background color with a little bit see-through */
                    .prev:hover, .next:hover {
                      background-color: rgba(0,0,0,0.8);
                    }
                    
                    /* Caption text */
                    .text {
                      color: #f2f2f2;
                      font-size: 15px;
                      padding: 8px 12px;
                      position: absolute;
                      bottom: 1000px;
                      width: 100%;
                      text-align: center;
                      right: -300px;

                    }
                    .text1{
                      color: white;
                      font-size: 15px;
                      padding: 8px 12px;
                      position: absolute;
                      bottom: 80px;
                      width: 100%;
                      text-align: center;
                      right: 0px;
                    }
                    .text2{
                      color: black;
                      font-size: 15px;
                      padding: 8px 12px;
                      position: absolute;
                      bottom: 540px;
                      width: 50%;
                      text-align: center;
                      right: 40px;
                    }
                    .text3{
                        color: white;
                      font-size: 15px;
                      padding: 8px 12px;
                      position: absolute;
                      bottom: 80px;
                      width: 50%;
                      text-align: center;
                      right: 200px;
                    }
                    
                    

                    
                    /* Number text (1/3 etc) */
                    .numbertext {
                      color: #f2f2f2;
                      font-size: 12px;
                      padding: 8px 12px;
                      position: absolute;
                      top: 0;
                    }
                    
                    /* The dots/bullets/indicators */
                    .dot {
                      cursor: pointer;
                      height: 15px;
                      width: 15px;
                      margin: 0 2px;
                      background-color: #bbb;
                      border-radius: 50%;
                      display: inline-block;
                      transition: background-color 0.6s ease;
                    }
                    
                    .active, .dot:hover {
                      background-color: #717171;
                    }
                    
                    /* Fading animation */
                    .fade {
                      -webkit-animation-name: fade;
                      -webkit-animation-duration: 1.5s;
                      animation-name: fade;
                      animation-duration: 1.5s;
                    }
                    
                    @-webkit-keyframes fade {
                      from {opacity: .4} 
                      to {opacity: 1}
                    }
                    
                    @keyframes fade {
                      from {opacity: .4} 
                      to {opacity: 1}
                    }
                    
                    /* On smaller screens, decrease text size */
                    @media only screen and (max-width: 300px) {
                      .prev, .next,.text {font-size: 11px}
                    }
                    </style>
                    
                   
                    <div class="slideshow-container">
                    
                    <div class="mySlides fade" style="height:100%;">
               
                      <img src="/public/assets/frontpage/images/slider1.jpg"  style="height:90%; width:100%;">
                      <div class="text1"><h2 style="color: white;">Do you want to protect your household and your beloved ones? </h2>
                           
                    </div>
                    </div>
                    
                    <div class="mySlides fade" style="height:100%;">
                     
                      <img src="/public/assets/frontpage/images/slider4.png"    style="height:90%; width:100%;">
                      <div class="text1"><h2 >Want to make your life easier?</h2>
                    </div>
                </div>
                <div class="mySlides fade" style="height:100%;">
                     
                        <img src="/public/assets/frontpage/images/slider3.png"    style="height:90%; width:100%;">
                        <div class="text3"><h2 style="color: white;">Do you want the most customizable and flexible solution?</h2>
                      </div>
                  </div>
                      
                    
                    
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    
                    </div>
                    <br>
                    
                  
         
                    
                    <script>
                    var slideIndex = 1;
                    showSlides(slideIndex);
                    
                    function plusSlides(n) {
                      showSlides(slideIndex += n);
                    }
                    
                    function currentSlide(n) {
                      showSlides(slideIndex = n);
                    }
                    
                    function showSlides(n) {
                      var i;
                      var slides = document.getElementsByClassName("mySlides");
                      var dots = document.getElementsByClassName("dot");
                      if (n > slides.length) {slideIndex = 1}    
                      if (n < 1) {slideIndex = slides.length}
                      for (i = 0; i < slides.length; i++) {
                          slides[i].style.display = "none";  
                      }
                      for (i = 0; i < dots.length; i++) {
                          dots[i].className = dots[i].className.replace(" active", "");
                      }
                      slides[slideIndex-1].style.display = "block";  
                      dots[slideIndex-1].className += " active";
                    }
                    </script>
                    <br>
                    <div class="about__line"></div>
                    <br>
    </section> <!-- end s-about -->



    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What We Do</h3>
                <h1 class="display-2">We’ve everything you look for</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-cursor"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Temperature & Humidity</h3>
                    <p>Always know the temperature and humidity, in real time, in any room of your house or the average of the last days.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-card"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">RFID</h3>
                    <p>Enter the house quickly and safely with just a simple card can open the door of your home.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-megaphone"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h2">Intrusion Alarm</h3>
                    <p>With our motion sensors your home will always be safe. Any attempt to intrude will be communicated in 
                        real time via email. So you'll always know what's going on in your house.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-earth"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Web Application</h3>
                    <p>With a personalized web application you can control and manage your home. Adding divisions, users, homes ...
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-lamp"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Light in your hand</h3>
                    <p>Have the power to turn on or off lamps with a simple click.
                    </p>
                </div>
            </div>
    
            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-thunderbolt"></i></div>
                <div class="service-text">
                    <h3 class="h2">Power Consumption</h3>
                    <p>With our application you will be able to see the energy consumptions in your house.
                    </p>
                </div>
            </div> 

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->
    <style>

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}
.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #3091b2;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #3091b2;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #3091b2;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}



            </style>
            
    <section id='pack' class="s-contact" style="background-color: grey;">

            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                    <div class="col-full">
                            <h5 class="display-2 display-2--light">Our Prices</h5>
                    <h3 class="subhead subhead--dark">We Have three difrents types of Packages for you</h3>
         
                </div>
            </div> 
                                <div class="background">
                                        <div class="container">
                                          <div class="panel pricing-table">
                                            
                                            <div class="pricing-plan">
                                           
                                              <h2 class="pricing-header">Starter</h2>
                                              <ul class="pricing-features">
                                                <li class="pricing-features-item">1 module </li>
                                                <li class="pricing-features-item">without loyalty</li>
                                              </ul>
                                              <span class="pricing-price">40€ + 9.99€/month</span>
                                              <a href="#/" class="pricing-button">Buy Now</a>
                                            </div>
                                            
                                            <div class="pricing-plan">
                                             
                                              <h2 class="pricing-header">Standerd</h2>
                                              <ul class="pricing-features">
                                                <li class="pricing-features-item">Free module</li>
                                                <li class="pricing-features-item">Loyalty for 24/moths</li>
                                              </ul>
                                              <span class="pricing-price">9.99/ month</span>
                                              <a href="#/" class="pricing-button is-featured">Buy Now</a>
                                            </div>
                                            
                                            <div class="pricing-plan">
                                              
                                              <h2 class="pricing-header">Developer</h2>
                                              <ul class="pricing-features">
                                                <li class="pricing-features-item">Open Source</li>
                                                <li class="pricing-features-item">without loyalty</li>
                                              </ul>
                                              <span class="pricing-price">69.99€ Final Price</span>
                                              <a href="#/" class="pricing-button">Buy Now</a>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>

                                <!-- end of price tab-->
                              </div>
                </div> <!-- end about-stats -->
        
            </section> 
    <!-- clients
    ================================================== -->
    <section id="clients" class="s-clients">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Our Team</h3>
                <h1 class="display-2">We are at your disposal</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row clients-outer" data-aos="fade-up">
            <div class="col-full">
                <div class="clients">
                    
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/1.jpg" />Filipe Almeida</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/2.png" />José Gomes</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/3.jpg" />Rui Santos</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/4.jpg" />Hélder Freitas</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/5.jpg" />Diana Sousa</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/6.jpg" />Filipe Barra</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/7.jpg" />Vítor Alves</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/8.jpg" />Tiago Costa</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/9.jpg" />Tiago Bento</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/10.jpg" />Hugo Martins</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/11.jpg" />Pedro Costa</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/12.jpg" />António Guimarães</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/13.png" />Luis Lemos</a>
                    <a class="clients__slide"><img style="height:150px; width:180;" src="/public/assets/frontpage/images/equipa/14.jpg" />Rui Marques</a>
                     
                </div> <!-- end clients -->
            </div> <!-- end col-full -->
        </div> <!-- end clients-outer -->
    </section> <!-- end s-clients -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Contact Us</h3>
                <!-- <h1 class="display-3 display-2--light">Extend self-employed house hand or say hello</h1> -->
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">

                <h3 class="h6">Send Us A Message</h3>

                <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> end contact-primary

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                    <div class="cinfo">
                        <h5>Where to Find Us</h5>
                        <p>
                                Campus de Azurém, <br>
                                4800-058 Guimarães
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Email Us At</h5>
                        <p>
                            contact@dfh.com<br>
                            info@dfh.com
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Call Us At</h5>
                        <p>
                            Phone: (+351) 253 588 944<br>
                            Mobile: (+351) 912 895 258
                        </p>
                    </div>
                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->

    <!-- <div class="row footer-bottom">
        <div class="col-twelve">
            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
            </div>
        </div>
    </div> end footer-bottom -->


    <!-- photoswipe background
    ================================================== -->
    <br>
    <style>.footer {
     
            right: 0;
     
            left: 0;
       
            text-align: center;
          }
    </style>
    <div class="footer about-stats stats block-1-3 block-m-1-2 block-mob-full" style="height: 10%;">
   
            <div class="col-block stats__col">
                    <img style="height:100px; width:200;" src="/public/assets/frontpage/images/bosh1.png">
            </div>
            <div class="col-block stats__col">
                    <img style="height:100px; width:200;" src="/public/assets/img/teamdai.png">
            </div>
            <div class="col-block stats__col">
                    <img style="height:100px; width:200;" src="/public/assets/frontpage/images/uminho.jpg">
            </div>
        </div>
        
  
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>
        

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="/public/assets/frontpage/js/jquery-3.2.1.min.js"></script>
    <script src="/public/assets/frontpage/js/plugins.js"></script>
    <script src="/public/assets/frontpage/js/main.js"></script>

</body>

</html>