<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/public/assets/frontpage/images/favicon.png">
    <link rel="icon" href="/public/assets/frontpage/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Digital Friendly House</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->


    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/public/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="/public/assets/css/paper-dashboard.css" rel="stylesheet" />

    <link href="/public/assets/css/costum.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/assets/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="/public/assets/dist/pretty-checkbox.css" />

    <!-- Google Floating Button css -->
    <link href="/public/assets/css/button.css" rel="stylesheet">


    <!--  Fonts and icons     -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/public/assets/css/themify-icons.css" rel="stylesheet">
    <link href="/public/assets/css/style_radio.css" rel="stylesheet">



</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-background-color="black" data-active-color="warning">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        MENU
                    </a>
                </div>
                <ul class="nav">

                </ul>



            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h4></h4>
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">


                            <li>
                                <a href="/logout">
                                    <i class="ti-power-off"></i>
                                    <p>Logout</p>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
            <style>
                card {
                    position: relative;
                }

                .lel {
                    position: absolute;
                    left: 10px;
                    top: -10px;
                    box-sizing: border-box;
                    padding-top: 18px;
                    background-color: #68B3C8;
                    width: 30px;
                    height: 30px;
                    color: black;
                    text-align: center;
                    border-radius: 50%;
                    z-index: 2000;
                }

                .editar {
                    color: black;
                    position: absolute;
                    top: -20px;
                    display: block;

                    left: 0;
                    right: -3px;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    line-height: 55px;
                    font-size: 38px;
                    font-family: 'Roboto';
                    font-weight: 900;



                }
            </style>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">

                        <% for(var i = 0; i < jsonCasa.length; i++){ %>

                            <% if(jsonCasa[i].account_id === account){ %>
                                <%  if(jsonCasa.length == 0){ %>
                                    <h1>Não Tem Divisões Ainda. Por Favor Crie Uma Divisão</h1>
                                    <% }else{ %>
                                       
                                                <li style="list-style-type: none; z-index: 1;">
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="lel">
                                                            <p class="editar">
                                                                <i class="fas fa-edit " style="	width : 20px;height : 20px;	left : 20px; top : -10px;" onclick="location.href='/house/edit/<%= jsonCasa[i].id_house %>';">
                                                                </i>
                                                            </p>
                                                        </div>

                                                        <div class="card card-user" onclick="location.href='/home/<%= jsonCasa[i].id_house %>';">
                                                            <div class="image" style="background: url('/public/assets/img/casas/default.jpg');  background-repeat: no-repeat; background-size: 100% 100%;">
                                                            </div>
                                                            <div class="text-center">
                                                                <div class="row">

                                                                    <h3 class="title">
                                                                        <%= jsonCasa[i].name %>
                                                                    </h3>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                       
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>


                    </div>
                    <div id="container-floating">
                        <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="location.href='/house/create';">
                            <p class="plus">+</p>
                        </div>
                    </div>
                </div>
            </div>



            <% include partials/footer %>