<% include partials/header %>


<script>

    function start(){

 $('#table_id').DataTable();
 fixedColumns: true
    }
</script>


  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">

              <div class="row">
                <div class="col-xs-5">
                  <div class="icon-big icon-warning text-center">
                    <i class="fa fa-info-circle" style=" color: green;"></i>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p>Number of sensors</p>
                    <%= totalSensores %>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-xs-5">
                  <div class="icon-big icon-danger text-center">
                    <i class="fa fa-home" style="color: LightSlateGray"></i>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p>Number of rooms</p>
                    <p id="utiTotal"></p>
                    <%= totalDivi %>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
<style>
  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: 50%;
    margin-top: 5px;
    height: 20px;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
    margin-top: 10px;
    height: 30px;
}

  .form-control{
    background-color: #337ab7;
border: medium none;
border-radius: 4px;
color: black;
font-size: 14px;

padding: 7px 18px;

-webkit-box-shadow: none;
box-shadow: none;
  }
  table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {

cursor: pointer;
height: 40px;
color: rgb(0, 0, 0);
background-color: #337ab7;

}
table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: lightgray;
    color: black;
    margin: 5px;
}
</style>

      <div class="row">
          <div class="col-lg-1 col-sm-6 ">
            </div>
          <div class="col-lg-10 col-sm-6 " style="background-color: white">
<h3 class="text-center">Last entries in your house</h3>
        <table id="example" class="display" style="width:100%">
          <br>
        <thead>
            <tr>
                <th class="text-center">Casa</th>
                <th class="text-center">Entrada</th>
    
            </tr>
            
        </thead>
     
        <tbody>
          
 
          
          
            
            <tr>
                <%  for(var i = 0; i < jsonEntradas.length; i++){ %>
            
                  
                  
                <td  class="text-center">as</td>
                <td  class="text-center"><%= jsonEntradas[i].reg_date %></td>

            </tr>
             

                <% } %>
                
                                
                            
            </tr>
            
        </tbody>
      
    </table>
    <br>
	

      </div>
    </div>

  
  

    </div>

    

    <% include partials/footer %>
  </div>


 