<% include partials/header %>
  <script>
    function start()
    {


      chartContainer();

    }
    window.onload = start;
  </script>




  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">

              <div class="row">
                <div class="col-xs-5">
                  <div class="icon-big icon-warning text-center">
                    <i class="fa fa-info-circle" style=" color: green;"></i>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p>Total de Sensores</p>
                    3

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-xs-5">
                  <div class="icon-big icon-danger text-center">
                    <i class="fa fa-home" style="color: LightSlateGray"></i>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p>Total de divisões</p>
                    <p id="utiTotal"></p>
                    3
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


      <div class="row">


      </div>
      <style>
        .timeline {
          margin-left: 100px;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          padding: 0 10px;
          margin: 0;
          list-style: none;
        }

        .timeline::before {
          position: fixed;
          top: 0;
          padding-right: 11px;
          border-right: 2px solid #F2F2F2;
          content: "";
        }

        .timeline__item {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: stretch;
          align-items: stretch;
          padding: 10px 0;
        }

        .timeline__step {
          padding-right: 10px;
        }

        .timeline__step__marker {
          position: relative;
          display: table-cell;
          height: 20px;
          min-height: 20px;
          width: 20px;
          min-width: 20px;
          border: 4px solid #F2F2F2;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background-color: white;
          z-index: 0;
        }

        .timeline__step__marker {
          border-color: green;
        }

        .timeline__time {
          padding-right: 80px;
          font-size: 20px;
        }

        .timeline__title {
          padding-bottom: 26px;
          font-size: 24px;
        }

        /* For mobile!
 */

        @media (max-width: 768px) {
          .card {
            max-width: 375;
          }
          .timeline {
            padding: 0 35.42857px;
          }
          .timeline::before {
            padding-right: 6.28571px;
          }
          .timeline__item {
            padding: 35.42857px 0;
          }
          .timeline__step {
            padding-right: 35.42857px;
          }
          .timeline__step__marker {
            height: 13.71429px;
            min-hieght: 13.71429px;
            width: 13.71429px;
            min-width: 13.71429px;
            border-width: 2.28571px;
          }
          .timeline__time {
            padding-right: 72px;
            font-size: 14.85714px;
          }
          .timeline__title {
            padding-bottom: 14.85714px;
            font-size: 18.28571px;
          }
        }
      </style>
      <br>


      <script>
        function datas()
        {

          var data = {


		"dataI": $('#dataI').val(),
	
		"dataF": $('#dataF').val()
          }


          $.ajax(
          {
            type: "POST",
            url: "http://localhost:8080/avgTemp",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function(data, status, jqXHR)
            {

              alert("success" + data);
            },

            error: function(jqXHR, status)
            {
              console.log(jqXHR);
              alert('fail' + status.code);
            }
          });



        }
      </script>






      <div class="row">


        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <ul class="timeline">
              <div class="title text-center">
                <h2>Ultimas entradas</h2>
              </div>
              <li class="timeline__item">
                <div class="timeline__step">
                  <div class="timeline__step__marker timeline__step__marker"></div>
                </div>
                <div class="timeline__time">
                  5pm
                </div>
                <div class="timeline__content">
                  <div class="timeline__title">
                    New Icons
                  </div>

                </div>
              </li>

              <li class="timeline__item">
                <div class="timeline__step">
                  <div class="timeline__step__marker timeline__step__marker"></div>
                </div>
                <div class="timeline__time">
                  4pm
                </div>
                <div class="timeline__content">
                  <div class="timeline__title">
                    Design Stand Up
                  </div>

                </div>
              </li>



            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-sm-6">
          <div class="card">

            <div class="content">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <h3>Inicio:</h3>
                    <input class="form-control border-input" id="dataI" name="dataI" type="date">
                  </div>
                  <div class="col-md-6">
                    <h3>Fim:</h3>
                    <input class="form-control border-input" id="dataF" name="dataF" type="date">
                  </div>
                  <span id="avg"></span>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12 col-sm-6">
                    <input type="button" class="btn btn-info btn-fill btn-wd"  onclick="datas()"  style="float: right" >Submeter</input>
                  </div>

                </div>
              </form>
            </div>
          </div>

        </div>


        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">Users Behavior</h4>
                <p class="category">24 Hours performance</p>
              </div>
              <div class="content">
                <div id="chartHours" class="ct-chart"></div>
                <div class="footer">
                  <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Open
                    <i class="fa fa-circle text-danger"></i> Click
                    <i class="fa fa-circle text-warning"></i> Click Second Time
                  </div>
                  <hr>
                  <div class="stats">
                    <i class="ti-reload"></i> Updated 3 minutes ago
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="header">
                <h4 class="title">Email Statistics</h4>
                <p class="category">Last Campaign Performance</p>
              </div>
              <div class="content">
                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                <div class="footer">
                  <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Open
                    <i class="fa fa-circle text-danger"></i> Bounce
                    <i class="fa fa-circle text-warning"></i> Unsubscribe
                  </div>
                  <hr>
                  <div class="stats">
                    <i class="ti-timer"></i> Campaign sent 2 days ago
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card ">
              <div class="header">
                <h4 class="title">2015 Sales</h4>
                <p class="category">All products including Taxes</p>
              </div>
              <div class="content">
                <div id="chartActivity" class="ct-chart"></div>

                <div class="footer">
                  <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Tesla Model S
                    <i class="fa fa-circle text-warning"></i> BMW 5 Series
                  </div>
                  <hr>
                  <div class="stats">
                    <i class="ti-check"></i> Data information certified
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <% include partials/footer %>
  </div>
  </div>
