<!doctype html>
<html lang="en">

<head>
    <title>Digital Friendly House</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/public/assets/img/logo.png">
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/assets/css/animate.min.css" rel="stylesheet"/>
    <link href="/public/assets/css/custom.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="text-center">
            <div class="logo">
                <h1 class="simple-text">Digital Friendly House</h1>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="main-login col-md-4">
            <div>
                <div class="header">
                    <h3>Faça Log In, ou <a href="/registo">Registe-se</a></h3>
                            <a href="#" class="btn btn-lg btn-danger btn-block"><i class="fa fa-google" aria-hidden="true"> Conta Google</i></a>
                </div>
                <hr>
                <div class="content">
                    <form>
                        <div class="row">
                            <label>Username</label>
                            <input type="text" class="form-control" id="inputUsernameEmail">
                        </div>
                    <div class="row">
                        <a class="pull-right" href="#">Esqueceu-se da password?</a>
                        <label>Password</label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                    <br>
                    <div class="row">
                    <div class="checkbox pull-right">
                        <label>
                        <input type="checkbox">Lembrar conta </label>
                    </div>
                    <button type="submit" class="btn btn btn-success" href="/home">Log In</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="col-md-4"></div>
      </div>
</body>

</html>