<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>
    <!-- META SECTION -->
    <title>Digital Friendly House</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="../public/assets/login/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->

    <link rel="shortcut icon" href="/public/assets/frontpage/images/favicon.png" >
    <link rel="icon" href="/public/assets/frontpage/images/favicon.png">
</head>

<body>

    <div class="login-container">

        <div class="login-box animated fadeInDown">
            <div class="login" style="text-align: center">
                <img src="../public/assets/login/img/dfh.png" alt="">
            </div>
            <br>
            <div class="login-body">
                <div class="login-title">
                    <strong>Log in</strong> into your account</div>
                <form action="/login" class="form-horizontal" method="post">
                    <div class="form-group">
                        <% if(error == "email") {%> 
                        <div class="col-md-12" id="email_div" >
                            <input type="text" style="color: red; border: 1px solid red" id="email" name="email" class="form-control" placeholder="E-mail" />
                        </div>
                            <div id="email_error" style="text-align: center; color: red"><p>That email doesn't exist</p></div>
                        <% } else { %>
                            <div class="col-md-12" id="email_div">
                                    <input type="text" id="email" name="email" class="form-control" placeholder="E-mail" />
                            </div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <% if(error == "password") {%> 
                        <div class="col-md-12" id="password_div">
                            <input type="password" style="color: red; border: 1px solid red" id="password" name="password" class="form-control" placeholder="Password" />
                        </div>
                            <div id="password_error" style="text-align: center; color: red"> Wrong password </div>
                        <% } else {%>
                        <div class="col-md-12" id="password_div">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-block" onsubmit="return Validate()">Log In</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
                <div class="login-or">OR</div>
                <div class="login-title">
                    <center>
                        <strong>You don't have an account?</strong>
                    </center>
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="padding-top: 10px">
                        <button class="btn btn-info btn-block" onclick="location.href='/registo'">
                            <strong>Create one right now</strong>
                        </button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    <img src="../public/assets/login/img/teamdai.png" alt="" height="50%" width="50%">
                </div>
                <div class="pull-right">
                    <a href="/">Return</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>