<% include partials/header %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5" onclick="location.href='/profile/create';">
                    <div class="card card-user">
                        <div class="image">
                            <img src="/public/assets/img/background1.jpeg" alt="..."/>
                        </div>
                        <div class="content">
                            <div class="author">
                              <img class="avatar border-white" src="/public/assets/img/faces/face-2.jpg" alt="..."/>
                              <h4 class="title">Utilizador<br />
                                
                              </h4>
                            </div>
                            <hr>
                            <p class="description text-center">
                                Permissões:<br>
                                Sala: <small> temperatura: <i class="fas fa-check" style="color: green;"></i>
                                    Luzes: <i class="fas fa-check" style="color: green;"></i><br>
                                    Quarto 1: <small> temperatura: <i class="fas fa-check" style="color: green;"></i>
                                        Luzes: <i class="fas fa-check" style="color: green;"></i>
                                    
                                </small>
                            </p>
                        </div>
                        <hr>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-5" onclick="location.href='/profile/create';">
                        <div class="card card-user">
                            <div class="image">
                                <img src="/public/assets/img/background1.jpeg" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="/public/assets/img/faces/face-3.jpg" alt="..."/>
                                  <h4 class="title">Utilizador<br />
                                   
                                  </h4>
                                </div>
                                <hr>
                                <p class="description text-center">
                                        Permissões:<br>
                                        Sala: <small> temperatura: <i class="fas fa-ban" style="color: red;"></i>
                                            Luzes: <i class="fas fa-check" style="color: green;"></i><br>
                                            Quarto 1: <small> temperatura: <i class="fas fa-check" style="color: green;"></i>
                                                Luzes: <i class="fas fa-ban" style="color: red;"></i>
                                            
                                        </small>
                                    </p>
                            </div>
                            <hr>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5" onclick="location.href='/profile/create';">
                            <div class="card card-user">
                                <div class="image">
                                    <img src="/public/assets/img/background1.jpeg" alt="..."/>
                                </div>
                                <div class="content">
                                    <div class="author">
                                      <img class="avatar border-white" src="/public/assets/img/faces/face-1.jpg" alt="..."/>
                                      <h4 class="title">Adicionar Utilizador<br />
                            
                                      </h4>
                                    </div>
                                    <hr>
                                    <p class="description text-center">
                                           
                                        </p>
                                </div>
                                <hr>
                                
                            </div>
                        </div>
                <!--
                <div class="col-lg-4 col-md-5">
                    <div class="card card-user">
                        <div class="image">
                            <img src="/public/assets/img/background1.jpeg" alt="..."/>
                        </div>
                        <div class="content">
                            <div class="author">
                              <img class="avatar border-white" src="/public/assets/img/faces/face-2.jpg" alt="..."/>
                              <h4 class="title">Nome User<br />
                                 
                              </h4>
                            </div>              
                    </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="card">
                        <div class="card">
                            <div class="content">
                   
                
                      
                        <div class="dropdown-heading" role="tab" id="heading-3">
                            
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                               
                                
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-danger text-center">
                                                    <img class="avatar border-white" src="/public/assets/img/faces/face-2.jpg" alt="..."/>
                                            </div>
                                        </div>
                                        <div class="col-xs-7"><br>
                                                <h4 class="title">Nome User<br />
                                 
                                                </h4>
                                        </div>
                                    </div>
                            </a>
                        </div>
                    
                
                        <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                            <div class="panel-body">
                                    <hr>
                                    <p class="description text-center">
                                            Permissões:</p>
                                            <p>Sala: <small> temperatura: <i class="fas fa-check" style="color: green;"></i>
                                                Luzes: <i class="fas fa-check" style="color: green;"></i>
                                                
                                            </small> </p>
                            </div>
                        </div>
                           
                
                    
                    </div>
                </div>
                    </div>
                </div>
            -->
                

            </div>
        </div>
    </div>



<% include partials/footer %>
