<% include partials/header %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="card card-user">
                        <div class="image">
                            <img src="./public/assets/img/background.jpg" alt="..."/>
                        </div>
                        <div class="content">
                            <div class="author">
                              <img class="avatar border-white" src="./public/assets/img/faces/face-2.jpg" alt="..."/>
                              <h4 class="title">Chet Faker<br />
                                 <a href="#"><small>@chetfaker</small></a>
                              </h4>
                            </div>
                            <p class="description text-center">
                                "ALGO <br>
                                INTERESSANTE <br>
                                AQUI"
                            </p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>5<br /><small>Divisões</small></h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>18<br /><small>Sensores</small></h5>
                                </div>
                                <!--<div class="col-md-3">
                                    <h5>24,6$<br /><small>Spent</small></h5>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="image">
                                <img src="./public/assets/img/divisao.jpg">
                            </div>
                            <div class="content">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Criar Divisão</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="card">
                                <div class="image">
                                    <img src="./public/assets/img/divisao.jpg">
                                </div>
                                <div class="content">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Adicionar Sensor</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Editar Perfil</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" class="form-control border-input" placeholder="Username" value="michael23">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Endereço de Email</label>
                                            <input type="email" class="form-control border-input" placeholder="Email">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Primeiro Nome</label>
                                            <input type="text" class="form-control border-input" placeholder="Company" value="Chet">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ultimo Nome</label>
                                            <input type="text" class="form-control border-input" placeholder="Last Name" value="Faker">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Morada</label>
                                            <input type="text" class="form-control border-input" placeholder="Home Address" value="Melbourne, Australia">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cidade</label>
                                            <input type="text" class="form-control border-input" placeholder="City" value="Melbourne">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>País</label>
                                            <input type="text" class="form-control border-input" placeholder="Country" value="Australia">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Código Postal</label>
                                            <input type="number" class="form-control border-input" placeholder="Código Postal">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Foto de Perfil</label>
                                            <input type="number" class="form-control border-input" placeholder="Link da Foto">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Atualizar Perfil</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>

                    <li>
                        <a href="http://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                           Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
            </div>
        </div>
    </footer>

</div>
</div>


<% include partials/footer %>
