<% include partials/header %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5" onclick="location.href='/profile/create';">
                    <div class="card card-user">
                        <div class="image">
                            <img src="/public/assets/img/background1.jpeg" alt="..."/>
                        </div>
                        <div class="content">
                            <div class="author">
                                <img class="avatar border-white" src="/public/assets/img/faces/face-2.jpg" alt="..."/>
                                <h4 class="title">Utilizador<br></h4>
                            </div>
                            <hr>
                            <p class="description text-center">
                                Permissões:<br>
                                Sala: <small> temperatura: <i class="fas fa-check" style="color: green;"></i>
                                    Luzes: <i class="fas fa-check" style="color: green;"></i><br></small>
                                Quarto 1: <small> temperatura: <i class="fas fa-check" style="color: green;"></i>
                                    Luzes: <i class="fas fa-check" style="color: green;"></i></small>
                            </p> 
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5" onclick="location.href='/profile/create';">
                    <div class="card card-user">
                        <div class="image">
                            <img src="/public/assets/img/background1.jpeg" alt="..."/>
                        </div>
                        <div class="content">
                            <div class="author">
                                <img class="avatar border-white" src="/public/assets/img/faces/face-3.jpg" alt="..."/>
                                <h4 class="title">Utilizador<br /></h4>
                            </div>
                            <hr>
                            <p class="description text-center">
                                Permissões:<br>
                                Sala: <small> temperatura: <i class="fas fa-ban" style="color: red;"></i>
                                    Luzes: <i class="fas fa-check" style="color: green;"></i><br>
                                Quarto 1: <small> temperatura: <i class="fas fa-check" style="color: green;"></i>
                                    Luzes: <i class="fas fa-ban" style="color: red;"></i></small>
                            </p>
                        </div>
                        <hr>
                            
                    </div>
                </div>
                
            </div>
            <div id="container-floating">
                <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="location.href='/profile/create';">
                  <p class="plus">+</p>
                  
                </div>
            </div>
        </div>
    </div>
    
<% include partials/footer %>
