<!doctype html>
<html lang="en">

<head>
    <title>Digital Friendly House</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/public/assets/img/logo.png">
    
    <link href="/public/assets/css/custom.css" rel="stylesheet">
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/public/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/public/assets/css/paper-dashboard.css" rel="stylesheet"/>



    <!--  Fonts and icons     -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/public/assets/css/themify-icons.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        
        <div class="text-center">
            <div class="logo">
                <h1 class="simple-text">Digital Friendly House</h1>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="main-login col-md-4">
            <div>
                <div class="header">
                    <h4 class="title text-center">Registo</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control border-input" name="username" placeholder="Username" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" class="form-control border-input" name="password" placeholder="Password" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label>Repita a password</label>
                                <input type="text" class="form-control border-input" placeholder="Repita a password" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Endereço de Email</label>
                                <input type="email" class="form-control border-input" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Criar conta</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>

</html>