<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>
    <!-- META SECTION -->
    <title>Digital Friendly House</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="../public/assets/login/css/theme-default.css" />

    <link rel="shortcut icon" href="/public/assets/frontpage/images/favicon.png">
    <link rel="icon" href="/public/assets/frontpage/images/favicon.png">

</head>

<body>

    <div class="login-container">

        <div class="login-box animated fadeInDown">
            <div class="login" style="text-align: center">
                <img src="/public/assets/login/img/dfh.png" alt="">
            </div>
            <br>
            <div class="login-body">
                <div class="login-title">
                    <strong>Create</strong> an account</div>
                <form name="regform" action="/registo" class="form-horizontal" method="post" onsubmit="return Validate()">
                    <div class="form-group" id="username_div">
                        <div class="col-md-12">
                            <input type="text" id="username" name="username" class="form-control" placeholder="Name" required />
                        </div>
                        <div id="username_error" style="text-align: center"></div>
                    </div>
                    <% if(error == "email") {%>
                        <div class="form-group" id="email_div">
                            <div class="col-md-12">
                                <input type="email" style="color: red; border: 1px solid red" id="email" name="email" class="form-control" placeholder="E-mail (example@email.com)"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
                            </div>
                            <div id="email_error" style="text-align: center; color: red">
                                <p>That email already exists</p>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="form-group" id="email_div">
                                <div class="col-md-12">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="E-mail (example@email.com)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                        required/>
                                </div>
                                <div id="email_error" style="text-align: center"></div>
                            </div>
                            <% } %>
                                <div class="form-group" id="password_div">
                                    <div class="col-md-12">
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
                                    </div>
                                </div>
                                <div class="form-group" id="pass_confirm_div">
                                    <div class="col-md-12">
                                        <input type="password" id="repassword" name="repassword" class="form-control" placeholder="Repeat password" required/>
                                    </div>
                                    <div id="password_error" style="text-align: center"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 pull-right">
                                        <input type="submit" class="btn btn-info btn-block" value="Sign in" />
                                    </div>
                                </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    <img src="../public/assets/login/img/teamdai.png" alt="" height="50%" width="50%">
                </div>
                <div class="pull-right">
                    <a href="#">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function Validate() {
        var username = document.getElementById('username');
        var email = document.getElementById('email');
        var password = document.getElementById('password');
        var repassword = document.getElementById('repassword');

        var username_error = document.getElementById('username_error');
        var email_error = document.getElementById('email_error');
        var password_error = document.getElementById('password_error');

        if (username.value == "") {
            username.style.border = "1px solid red";
            document.getElementById('username_div').style.color = "red";
            username_error.innerHTML = "You need to insert a mail";
            username.focus();
            return false;
        }
        if (email.value == "") {
            email.style.border = "1px solid red";
            document.getElementById('email_div').style.color = "red";
            email_error.innerHTML = "You need to insert a email";
            password.focus();
            return false;
        }
        if (password.value == "") {
            password.style.border = "1px solid red";
            document.getElementById('password_div').style.color = "red";
            password_error.innerHTML = "You need to insert a password";
            password.focus();
            return false;
        }
        if (password.value != repassword.value) {
            password.style.border = "1px solid red";
            repassword.style.border = "1px solid red";
            document.getElementById('pass_confirm_div').style.color = "red";
            password_error.innerHTML = "Passwords don't match";
            return false;
        }
    }
</script>

</html>