<% include partials/header %>
<div class="content">
    <div class="container-fluid">
<div class="row">
    <ul class="list-group">
            <li style   ="list-style-type: none;">
                    <div class="col-lg-4 col-sm-6">
                    <div class="card">
                            <div class="content">
                   
                
                      
                        <div class="dropdown-heading" role="tab" id="heading-1">
                            
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                               
                                
                                    <div class="row">
                                            <h3 style="text-align: center;">Temperatura</h3>
                                        
                                        
                                        <div class="col-xs-4">
                                            
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="icon-big icon-warning text-center">
                                                    <i class="fas fa-thermometer-half"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            
                                        </div>
                                        
                                    </div>
                            </a>
                        </div>
                    
                
                        <div id="collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                            <div class="panel-body">
                                <hr>
                                
                                        <div class="col-md-12 col-lg-2">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Address:
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            18310 Gilbert St<br />
                                            Tenino, WA  98503
                                        </div>
                                        <div class="col-md-12 col-lg-2">
                                            <i class="fa fa-phone" aria-hidden="true"></i> Phone:
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            867-5309
                                        </div>
                            </div>
                        </div>
                           
                
                    
                    </div>
                </div>
                </div>
                </li>
                <li style   ="list-style-type: none;">
                        <div class="col-lg-4 col-sm-6">
                        <div class="card">
                                <div class="content">
                       
                    
                          
                            <div class="dropdown-heading" role="tab" id="heading-2">
                                
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                   
                                    
                                        <div class="row">
                                                <h3 style="text-align: center;">Temperatura</h3>
                                            
                                            
                                            <div class="col-xs-4">
                                                
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="icon-big icon-warning text-center">
                                                        <i class="fas fa-thermometer-half"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                
                                            </div>
                                            
                                        </div>
                                </a>
                            </div>
                        
                    
                            <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                                <div class="panel-body">
                                    <hr>
                                                <p>Temperatura atual: 23</p>      
                                </div>
                            </div>
                               
                    
                        
                        </div>
                    </div>
                    </div>
                    </li>
<li style   ="list-style-type: none;">
    <div class="col-lg-4 col-sm-6">
    <div class="card">
            <div class="content">
   

      
        <div class="dropdown-heading" role="tab" id="heading-3">
            
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
               
                
                    <div class="row">
                            <h3 style="text-align: center;">Temperatura</h3>
                        
                        
                        <div class="col-xs-4">
                            
                        </div>
                        <div class="col-xs-4">
                            <div class="icon-big icon-warning text-center">
                                    <i class="fas fa-thermometer-half"></i>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            
                        </div>
                        
                    </div>
            </a>
        </div>
    

        <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
            <div class="panel-body">
                <hr>
                
                        <div class="col-md-12 col-lg-2">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Address:
                        </div>
                        <div class="col-md-12 col-lg-4">
                            18310 Gilbert St<br />
                            Tenino, WA  98503
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <i class="fa fa-phone" aria-hidden="true"></i> Phone:
                        </div>
                        <div class="col-md-12 col-lg-4">
                            867-5309
                        </div>
            </div>
        </div>
           

    
    </div>
</div>
</div>
</li>
<li style   ="list-style-type: none;">
        <div class="col-lg-4 col-sm-6">
        <div class="card">
                <div class="content">
       
    
          
            <div class="dropdown-heading" role="tab" id="heading-new">
                
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-new" aria-expanded="true" aria-controls="collapse-new">
                   
                    
                        <div class="row">
                                <h3 style="text-align: center;">Temperatura</h3>
                            
                            
                            <div class="col-xs-4">
                                
                            </div>
                            <div class="col-xs-4">
                                <div class="icon-big icon-warning text-center">
                                        <i class="fas fa-plus-circle"></i>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                
                            </div>
                            
                        </div>
                </a>
            </div>
        
    
            <div id="collapse-new" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-new ">
                <div class="panel-body">
                    <hr>
                    
                            <div class="col-md-12 col-lg-2">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Address:
                            </div>
                            <div class="col-md-12 col-lg-4">
                                18310 Gilbert St<br />
                                Tenino, WA  98503
                            </div>
                            <div class="col-md-12 col-lg-2">
                                <i class="fa fa-phone" aria-hidden="true"></i> Phone:
                            </div>
                            <div class="col-md-12 col-lg-4">
                                867-5309
                            </div>
                </div>
            </div>
               
    
        
        </div>
    </div>
    </div>
    </li>
    
            
    
       

    
</ul>
</div>
</div>
</div>
<% include partials/footer %>