<% include partials/header %>
  <style>
    a {
      color: black;
    }

    a:hover,
    a:focus {
      color: black;
    }
  </style>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">



              <div class="dropdown-heading" role="tab" id="heading-1">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1"
                  aria-expanded="true" aria-controls="collapse-1">


                  <div class="row">
                    <h3 style="text-align: center;">Temperatura</h3>


                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                      <div class="icon-big icon-warning text-center">
                        <i class="fas fa-thermometer-half" style="color: RoyalBlue ;"></i></i>
                      </div>
                    </div>
                    <div class="col-xs-4">

                    </div>

                  </div>
                </a>
              </div>


              <div id="collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                <div class="panel-body">
                  <hr>
                  <p>Estado: <i class="fas fa-check" style="color: green;"></i></p>


 <p id="tempAtual"></p>

                </div>
              </div>



            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">



              <div class="dropdown-heading" role="tab" id="heading-2">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-2"
                  aria-expanded="true" aria-controls="collapse-2">


                  <div class="row">
                    <h3 style="text-align: center;">Movimento</h3>


                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                      <div class="icon-big icon-warning text-center">
                        <i id="Movi" class="fas fa-street-view" style="color: Grey   ;"></i>
                      </div>
                    </div>
                    <div class="col-xs-4">

                    </div>

                  </div>
                </a>
              </div>


              <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                <div class="panel-body">
                  <hr>
                  <p>Estado: <i class="fas fa-check" style="color: green;"></i></p>
                  <p id="movAtual"></p>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">



              <div class="dropdown-heading" role="tab" id="heading-3">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"
                  aria-expanded="true" aria-controls="collapse-3">


                  <div class="row">
                    <h3 style="text-align: center;">Iluminação</h3>


                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                      <div class="icon-big icon-warning text-center">
                        <i class="fas fa-lightbulb" style="color: Gold ;"></i>
                      </div>
                    </div>
                    <div class="col-xs-4">

                    </div>

                  </div>
                </a>
              </div>


              <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                <div class="panel-body">
                  <hr>

                  <p>Estado: <i class="fas fa-check" style="color: green;"></i></p>



 <p id="luzAtual"></p>

<script src="/public/assets/js/jscolor.js"></script>

<div style="position:absolute; left:280px;">
  R, G, B = <span id="rgb"></span><br />  
    <span id="hex-str" hidden></span><br />
    <span id="rgb-str" hidden></span><br />
    <span id="hsv" hidden></span>
</div>

<input class="jscolor {onFineChange:'update(this)'}" value="ffcc00">

<script>
function update(picker) {
    document.getElementById('hex-str').innerHTML = picker.toHEXString();
    document.getElementById('rgb-str').innerHTML = picker.toRGBString();

    document.getElementById('rgb').innerHTML =
        Math.round(picker.rgb[0]) + ', ' +
        Math.round(picker.rgb[1]) + ', ' +
        Math.round(picker.rgb[2]);

    document.getElementById('hsv').innerHTML =
        Math.round(picker.hsv[0]) + '&deg;, ' +
        Math.round(picker.hsv[1]) + '%, ' +
        Math.round(picker.hsv[2]) + '%';
}
</script>
                </div>
              </div>



            </div>
          </div>
        </div>
        
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">



              <div class="dropdown-heading" role="tab" id="heading-4">
<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">


                  <div class="row">
                    <h3 style="text-align: center;">Humidade</h3>


                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                      <div class="icon-big icon-warning text-center">
                        <i class="fas fa-tint" style="color: DeepSkyBlue   ;"></i>
                      </div>
                    </div>
                    <div class="col-xs-4">

                    </div>

                  </div>
                </a>
              </div>
              

              <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
                <div class="panel-body">
                  <hr>
                  <p>Estado: <i class="fas fa-check" style="color: green;"></i></p>
                  <p id="humAtual"></p>
                </div>
              </div>

            

            </div>
            
          </div>
        </div>

   

      </div>

      <div class="row">

        <script src="/socket.io/socket.io.js"></script>




        <script>

	
          var socket = io.connect('http://localhost:5000');
          socket.on('data/<%= id_sensor%>', function(measurements)
          {
            var labels = JSON.parse(measurements);

            var temp = labels.measurements["temperature"]
            var luz = labels.measurements["ldr"];
            var movimento = labels.measurements["motion"];
            var humidade = labels.measurements["humidity"];
            $('#tempAtual').text('Temperatura atual: ' + temp);
            $('#luzAtual').text('Luminusidade: ' + luz);
            $('#movAtual').text(movimento);
            $('#humAtual').text('Humidade: ' + humidade);


            if (movimento == "motion detected")
            {
              document.getElementById("Movi").style.color = "green";
              $('#movAtual').text('Com Movimento ');
            }
            else
            {
              $('#movAtual').text('Sem Movimento ');
            }



          })

        </script>


      </div>
    </div>
  </div>

  <% include partials/footer %>
